


<div class="youtubeVideosWrapper">
  <div class="container">
    <!-- title start -->
    <div
      class="row h-100 align-items-center justify-content-center text-center"
    >
      <div class="col-12">
        <div class="title-wrapper bold video_title_wrapper">Latest Videos</div>
      </div>
    </div>
    <!-- title end -->

    <!-- all videos  -->
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="singleVideoWrapper">
          <!-- video thumbnails -->
          <div class="videoThumbnails">
            <a href="">
              <img src="" alt="" />
            </a>
          </div>
          <!-- thumbnails end -->
          <!-- video info start -->
          <div class="videoInfoWrapper">
            <!-- video title -->
            <div class="videoTitle">
              <a href="">Title</a>
            </div>
            <!-- video description -->
            <div class="videoDesc">description</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
